<form action="/rides/<%= ride.id ? `${ride.id}?_method=PUT` : '' %>"
  method='POST' class="well">
  <div class="row">
    <div class="col-xs-3 form-group">
      <label for="name">Name</label>
      <input type="text"
        class="form-control"
        id="name"
        name="name"
        value="<%= ride.name %>">
    </div>
    <div class="col-xs-3 form-group">
      <label for="capacity">Capacity</label>
      <input type="number"
        class="form-control"
        id="capacity"
        name="capacity"
        value="<%= ride.capacity %>">
    </div>
    <div class="col-xs-3 form-group">
      <label for="popularity">Popularity</label>
      <input type="number" min="0" max="5"
        class="form-control"
        id="popularity"
        name="popularity"
        value="<%= ride.popularity %>">
    </div>
    <div class="col-xs-3 form-group">
      <label for="parks">Parks</label>
      <select class="form-control" name="park_id">
        <option value="">-- Choose a Park --</option>
        <% parks.forEach(park => { %>
          <option value="<%= park.id %>"
            <% if (park.id == ride.park_id) { %>selected<% } %>>
            <%= park.name %>
          </option>
        <% }) %>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
