<section class="panel panel-default">
  <div class="panel-heading">
    <h2><%= park.name %></h2>
  </div>
  <div class="panel-body">
    <p>
      <strong>Location:</strong>
      <%= park.city %>, <%= park.state %>
    </p>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Capacity</th>
        <th>Popularity</th>
      </tr>
    </thead>
    <tbody>
      <% rides.forEach(ride => { %>
        <tr>
          <td>
            <a href="/rides/<%= ride.id %>"><%= ride.name %></a>
          </td>
          <td><%= ride.capacity %></td>
          <td><%= ride.popularity %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <br>

  <ul class="list-inline" style="margin-left: 1rem;">
    <li>
      <a href="/parks/<%= park.id %>/edit" class="btn btn-primary">Edit</a>
    </li>
    <li>
      <form action="/parks/<%= park.id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger" type="submit" name="button">Delete</button>
      </form>
    </li>
  </ul>
</section>
